* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --color: 194;

    --black: hsl(var(--color), 0%, 100%);
    --white-light: hsla(var(--color), 100%, 100%, .05);

    --white-medium: hsla(var(--color), 100%, 100%, .2);
    --primary-color-light: hsla(var(--color), 80%, 43%, .8);

    --primary-color: hsl(var(--color), 100%, 43%);

    --font-color: hsl(var(--color), 39%, 11%);
    --font-color-dark: hsl(var(--color), 100%, 0%);

    --box-dark: hsla(var(--color), 100%, 0%, .2);

    --bg-scroll: hsla(var(--color), 80%, 30%, 0.5);
    --scroll: hsl(var(--color), 87%, 27%)

}

.Dark {
    --black: hsl(var(--color), 0%, 0%);
    --white-light: hsla(var(--color), 0%, 100%, .2);

    --font-color-dark: hsl(var(--color), 0%, 100%);

    --box-dark: hsla(var(--color), 0%, 100%, 0.2);
}

.hide {
    display: none;
}

header {
    display: block;
    position: absolute;

    background: transparent;

    top: 6rem;
    right: 6rem;
}

.sun:hover,
.moon:hover {
    border-radius: 50%;

    zoom: 105%;
    
    cursor: pointer;
}

body {
    width: 37.5rem;
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background: var(--black);
}

main {
    margin: 10rem auto;
    display: grid;
}


#container-countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer {
    font-family: 'Roboto', sans-serif;
    font-size: 10.5rem;
    font-weight: 500;

    fill: var(--font-color-dark);

    line-height: 15rem;
}

#controls {
    margin-top: 3.2rem;
    display: flex;
    
    gap: 3rem;
}

.button-timer {
    border: none;
    

    background: transparent;

    cursor: pointer;
}

#sounds {
    margin: 5rem auto 5rem;
    display: grid;
    grid-template-areas: 
    'part1 part2'
    'part3 part4';
    justify-content: center;
    gap: 3.2rem;
}

.card {
    width: 15rem;
    height: 15rem;

    border-radius: 2rem;
    border: 1px solid var(--box-dark);

    transition: 200ms;

    background: var(--white-medium);
    fill: var(--font-color-dark);

    position: relative;
}

.card:hover{
    fill: var(--black);
    background: var(--primary-color-light);

    box-shadow: 0 0.5rem 2.5rem var(--box-dark);
    
    cursor: pointer;
}

@media (min-width: 780px) {
    body {
        width: 70.8rem;
    }
    
    #timer {
        font-size: 12.5rem;
    }
}

@media (min-width: 1000px) {
    body {
        width: 92.1rem;
    }
    
    main {
        display: flex;
        gap: 20rem;
    }
}